<% include ../partials/header %>

<div class="container">
  <% include ../partials/messages %> 
  <div class="greybox">
    <h3>New Topic</h3>
    <hr class="line">
    <form action="/topic/" method="POST">
      <div class="block">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" aria-describedby="title" placeholder="Enter a new topic" autofocus
          value="<%= typeof title != 'undefined' ? title : '' %>"
          />
      </div>
      <button class="btnlink submitBtn">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>