<% include ../partials/header %>

<div class="container">
  <% include ../partials/messages %>
  <% include ../partials/profileUserSection %>
  <section class="mainSection">
    <section class="greybox">
      <h3>Settings &middot; Change Password</h3>
      <hr class="line"/>
      <form action="/profile/<%= currentUser._id %>/changePassword?_method=PUT" method="POST">
        <label for="currentPassword">Current Password</label>
        <input type="password" class="form-control" id="currentPassword" name="currentPassword"
               placeholder="Current password"/>
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Update password"/>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
               placeholder="Confirm new password"/>
        <hr class="line"/>
        <button class="btnlink submitBtn">
          Update
        </button>
      </form>
    </section>
  </section>
</div>
<% include ../partials/footer %>  