<section class="userSection">
  <div class="proImgHolder">
    <img src="/pro-img/<%= currentUser.profileImg %>" class="user">
  </div>
  <div class="proNameHolder">
    <p><a href="/profile/editUsername" class="mauto">Change username</a></p>
    <p><a href="/profile/editPassword" class="mauto">Change password</a></p>
  </div>
</section>