<section class="userSection">
  <div class="proImgHolder">
    <img src="/pro-img/<%= currentUser.profileImg %>" class="user">
  </div>
  <div class="proNameHolder">
    <a href="/profile/<%= currentUser.id %>" class="mauto"><%= currentUser.username %></a>
  </div>
  <hr class="line"/>
  <h3>Trending Topics</h3>
</section>